body,
html {
	background-color: #f4f4f4;
	height: 100%;
}
.main {
	margin: auto;
	/* width: 750px; */
}

.search-con {
	padding: 10px 0;
	.search {
		&-col {
			margin: 5px;
			display: inline-block;
			width: 200px;
		}
		&-input {
			display: inline-block;
			width: 200px;
			margin: 5px;
		}
		&-btn {
			margin: 5px;
		}
	}
}
.btn() {
	padding: 5px 5px;
	margin: 5px;
	border-radius: 3px;
}
.btn-color(@color:#2d8cf0) {
	color: @color;
	border: 1px solid @color;
}
.md-card {
	margin-bottom: 18px;
	&-btn {
		&-primary {
			.btn();
			.btn-color(#2d8cf0);
		}
		&-info {
			.btn();
			.btn-color(#2db7f5);
		}
		&-success {
			.btn();
			.btn-color(#19be6b);
		}
		&-warning {
			.btn();
			.btn-color(#ff9900);
		}
		&-error {
			.btn();
			.btn-color(#ed4014);
		}
		&-default {
			.btn();
			.btn-color(#dcdee2);
		}
		
	}
}
