body,
ul,
p,
a,
div,
img {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  /* color: #5a5a5a; */
  cursor: pointer;
}

.box {
  display: flex;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  *zoom: 1;
}

/*居中*/

.item-center {
  justify-content: center;
}

/*两端对齐*/

.space-between {
  justify-content: space-between;
}

/*每个元素两侧的间隔相等。*/

.space-around {
  justify-content: space-around;
}

/*垂直居中*/

.vertical-center {
  align-items: center;
}

/*自动换行*/

.wrap {
  flex-wrap: wrap;
}

/* 图片 */
.pic img {
  max-width: 100%;
  max-height: 100%;
}

/* 单行显示省略号 */
.txt-more {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* 多行显示省略号 */
.txt-more-multiple {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}