.search-item .input {
	width: 60%;
	min-width: 120px;
}
.select-item {
	width: 50%;
	min-width: 90px;
}
.date-item {
	width: 30%;
	min-width: 105px;
}
.radio-item {
	padding: 5px 0 0 10px;
}
.search-btn {
	text-align: right;
}
.search-input-item {
	display: inline-block;
}
.search-btn-item {
	float: right;
}
.btn {
	&-group {
		padding-bottom: 10px;
		.btn {
			margin: 5px;
		}
	}
}

.message {
	&-top {
		padding-bottom: 30px;
	}
	&-counter {
		padding-bottom: 30px;
	}
	&-bottom {
		padding-bottom: 30px;
	}
	&-group {
		.img {
			margin: 5px;
		}
	}
	.move-down {
		padding-top: 10px;
	}
}
