.search-item .input {
  width: 60%;
  min-width: 120px;
}
.select-item {
  width: 50%;
  min-width: 90px;
}
.date-item {
  width: 30%;
  min-width: 105px;
}
.radio-item {
  padding: 5px 0 0 10px;
}
.search-btn {
  text-align: right;
}
.search-input-item {
  display: inline-block;
}
.search-btn-item {
  float: right;
}
.btn {
  &-group {
    padding-bottom: 10px;
    .btn {
      margin: 5px;
    }
  }
}

.message {
  &-top {
    padding-bottom: 30px;
  }
  &-counter {
    padding-bottom: 30px;
  }
  &-bottom {
    padding-bottom: 30px;
  }
  &-group {
    .link {
      display: block;
    }
    .img {
      margin: 5px;
      width: 100px;
      height: 100px;
    }
    .item {
      border: 1px solid #ececec;
      width: 100px;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #ececec;
    }
  }
  .move-down {
    padding-top: 10px;
  }
}
.tab {
  width: 100%;
  border-spacing: 0;
  table-layout: fixed;
  border-right: 1px solid #e8eaec;
  .title2 {
    background-color: #f8f8f9;
    color: #515a6e;
    text-align: right;
    width: 30%;
  }
}
.modal-btn {
  text-align: right;
  margin-top: 20px;
  .btn {
    margin: 5px;
  }
}
