.search-con {
	padding: 10px 0;
	.search {
		&-col {
			margin: 5px;
			display: inline-block;
			width: 200px;
		}
		&-input {
			display: inline-block;
			width: 200px;
			margin: 5px;
		}
		&-btn {
			margin: 5px;
		}
	}
}
.md-card {
	margin-bottom: 18px;
	&-btn-info {
		display: block;
		color: rgb(45, 140, 240);
		border: 1px solid rgb(45, 140, 240);
		padding: 1px 10px;
		border-radius: 3px;
	}
}
